@use '../utils/_vars.scss' as *;
.hero-block {
    height: fit-content;
    grid-column: 2 / span 6;

    .block-content {

        h1 {
            margin: 147px 0 40px 0;

            @media screen and (max-width: $breakpoint__mobile) {
                margin: 0 0 20px 0;
            }
        }

        @media screen and (max-width: $breakpoint__mobile) {
            justify-content: center;

            h1,p {
                text-align: center;
            }
        }
    }

    @media screen and (max-width: $breakpoint__mobile) {
        grid-column: 1 / -1;
    }
}