<section class="section section-cta-communication type-default">
    <div class="section-content">
        <div class="left-part">
            <h2 class="title type-main">It’s a dedicated space for <br> your bold fantasies!</h2>
            <p class="text type-main">Hundreds of attractive admirers are already waiting for <br> you here. Don’t delay – dive into the world of streaming,<br> flirting, and hot communication right now!</p>
            <div class="btn-wrapper">
                <button class="button type1 dinamic-text" data-scroll="to-form">Write to her</button>
            </div>
        </div>
        <div class="right-part">
            <picture>
                <source media="(max-width: 768px)" srcset="images/decor-mobile.jpg">
                <img src="images/decor-desktop.jpg" alt="decor image">
            </picture>
        </div>
    </div>
</section>