<section class="section section-features type-default">
    <div class="section-content">
      <h2 class="title type-main">Here you can find</h2>
      <div class="features-list">
        <div class="features-item">
          <img src="icons/pc.svg" alt="pc icon" />
          <p class="text type-main">Watching streams of everyone you really like;</p>
        </div>
        <div class="features-item">
          <img src="icons/girl.svg" alt="girl icon" />
          <p class="text type-main">Free communication with pretty streamers;</p>
        </div>
        <div class="features-item">
          <img src="icons/mail2.svg" alt="mail icon" />
          <p class="text type-main">Sweet connection with people you match;</p>
        </div>
        <div class="features-item">
          <img src="icons/skate.svg" alt="skate icon" />
          <p class="text type-main">New acquaintances with someone who has similar interests;</p>
        </div>
        <div class="features-item">
          <img src="icons/sound.svg" alt="sound icon" />
          <p class="text type-main">Fascinating hobbies and exciting occupations from people you fancy.</p>
        </div>
      </div>
    </div>
</section>