<footer class="footer">
    <div class="container type-default">
        <div class="footer-content">
            <div class="left-part">
                <ul class="footer-info__list">
                    <li><a href="#" class="link type-default">support@gmail.com</a></li>
                    <li><a href="#" class="link type-default">Unsubscribe</a></li>
                </ul>
            </div>
            <div class="right-part">
                <nav class="footer-navigation">
                    <ul class="list">
                        <li>Legal terms</li>
                        <li>
                            <a href="/page404.html" class="link type-default">Terms of Use</a>
                        </li>
                        <li>
                            <a href="/page404.html" class="link type-default">Diclosures&Disclaimers</a>
                        </li>
                    </ul>
                    <ul class="list">
                        <li>Privacy info</li>
                        <li>
                            <a href="/page404.html" class="link type-default">Privacy Policy</a>
                        </li>
                        <li>
                            <a href="/page404.html" class="link type-default">Cookie Policy</a>
                        </li>
                    </ul>
                    <ul class="list">
                        <li>About</li>
                        <li>
                            <a href="/page404.html" class="link type-default">About Us</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</footer>