<section class="section section-platform-overview type-full">
    <div class="section-content">
      <h2 class="title type-main">It’s a universe of communication and<br>streaming without borders!</h2>
      <p class="text type-main">
        Let yourself to be free – share your thoughts,<br>
        delight, and fears with beautiful strangers!
      </p>
      <div class="swiper platform-swiper">
        <div class="swiper-wrapper">
          <div class="swiper-slide"><img src="images/streamer1.png" alt="streamer 1" /></div>
          <div class="swiper-slide"><img src="images/streamer2.png" alt="streamer 2" /></div>
          <div class="swiper-slide"><img src="images/streamer3.png" alt="streamer 3" /></div>
          <div class="swiper-slide"><img src="images/streamer4.png" alt="streamer 4" /></div>
          <div class="swiper-slide"><img src="images/streamer5.png" alt="streamer 5" /></div>
          <div class="swiper-slide"><img src="images/streamer1.png" alt="streamer 1" /></div>
          <div class="swiper-slide"><img src="images/streamer2.png" alt="streamer 2" /></div>
          <div class="swiper-slide"><img src="images/streamer3.png" alt="streamer 3" /></div>
          <div class="swiper-slide"><img src="images/streamer4.png" alt="streamer 4" /></div>
          <div class="swiper-slide"><img src="images/streamer5.png" alt="streamer 5" /></div>
        </div>
      </div>
  
      <div class="btn-wrapper">
        <button class="button type1" data-scroll="to-form">Join us for free</button>
      </div>
    </div>
  </section>