<section class="section section-about-us type-default">
    <div class="section-content">
        <h2 class="title type-main">About</h2>
        <p class="text type-main">It’s a global<b>streaming platform</b> for communication and meeting incredibly beautiful people. We created an excellent place where you can enjoy your time and <b>find appropriate matches</b> at first.</p>
        <br>
        <p class="text type-main">Approximately 80% of our users have already found their lovelies. <b>Watch streams</b> w  ithout hindrance and meet someone <b>who interests you.</b></p>
        <div class="btn-wrapper">
            <button class="button type1" data-scroll="to-form">Join for free</button>
        </div>
    </div>
</section>