<div class="swiper-slide type-registration">
    <div class="slide-content">
        <form id="form-registration" class="form type1">

            <div class="form-group">
              <label class="text type-xs">I am</label>
              <div class="gender-select">
                <button type="button" class="gender-btn">Male</button>
                <button type="button" class="gender-btn">Female</button>
              </div>
            </div>
          
            <div class="form-group">
              <label for="name" class="text type-xs">My name is</label>
              <input type="text" id="name" class="form-input" placeholder="e.g. Alex" />
            </div>
          
            <div class="form-group">
              <label for="birth" class="text type-xs">I was born</label>
              <input type="text" id="birth" class="form-input" placeholder="MM/DD/YYYY" />
            </div>
          
            <div class="form-group checkbox-group">
              <input type="checkbox" id="terms" />
              <label for="terms" class="text type-xs">
                I have read understand and agree to, Terms of Use, Privacy Policy, Disclosures&Disclaimers.
              </label>
            </div>
          
            <button type="submit" class="button type1">Sign up now</button>
          </form>
    </div>
</div>