<section class="section type-full">
    <div class="section-content">
        <div class="swiper type1">
            <div class="swiper-wrapper">
              <div class="swiper-slide">
                <img src="images/slide1.gif" alt="GIF 1" />
              </div>
              <div class="swiper-slide">
                <img src="images/slide2.gif" alt="GIF 2" />
              </div>
              <div class="swiper-slide">
                <img src="images/slide3.gif" alt="GIF 3" />
              </div>
              <div class="swiper-slide">
                <img src="images/slide1.gif" alt="GIF 1" />
              </div>
              <div class="swiper-slide">
                <img src="images/slide2.gif" alt="GIF 2" />
              </div>
            </div>
        </div>
    </div>
</section>