<section class="section section-why-join-us type-default">
    <div class="section-content">
      <h2 class="title type-main">Why join us?</h2>
      <div class="swiper why-join-swiper">
        <div class="swiper-wrapper why-join-wrapper">
          <div class="why-join__item swiper-slide">
            <div class="top-part">
                <img src="icons/chat.svg" alt="chat" />
                <h3>Chat with attractive streamers for free</h3>
            </div>
            <p class="text type-xs">It’s an excellent web platform for streaming. Write messages to the beautiful streamers for free and explore this magical universe of communication!</p>
          </div>
          <div class="why-join__item swiper-slide">
            <div class="top-part">
                <img src="icons/verify.svg" alt="verified" />
                <h3>Only verified users</h3>
            </div>
            <p class="text type-xs">We care about the privacy and security of our customers. All accounts are verified so look for an attractive stranger confidently!</p>
          </div>
          <div class="why-join__item swiper-slide">
            <div class="top-part">
                <img src="icons/search.svg" alt="search" />
                <h3>Customized search</h3>
            </div>
            <p class="text type-xs">Match alluring partners for your own preferences. Maybe you will be interested in a hot slender European or shy beautiful Asian? Make your choice…</p>
          </div>
          <div class="why-join__item swiper-slide">
            <div class="top-part">
                <img src="icons/easy.svg" alt="easy" />
                <h3>Easy to use</h3>
            </div>
            <p class="text type-xs">Forget about hundreds of annoying notifications and inconvenient use. We have created the platform as easy to use and search as possible. Don’t waste your time studying functionality. Just enjoy!</p>
          </div>
        </div>
      </div>
      <div class="decor-img">
        <img src="../../images/streamer4.png" alt="stramer">
      </div>
    </div>
  </section>